<div class="card w-96 bg-base-100 shadow-xl">
  <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">Shoes!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>



<h1 class="ml-20">Users</h1>
  <% @users.each do |user| %>
  <ol>
  <li>
    <p><strong>First Name: </strong> <%= user.first_name %></p>
    <p><strong>Last Name: </strong> <%= user.last_name %></p>
    <p><strong>Nickname: </strong> <%= user.handle %> </p>
    <p><strong>Email: </strong> <%= user.email %></p>
    <p>-------------------------------------------------------------</p>
  </li>
  </ol>
  <% end %>
