<h1>Test</h1>
<% @users.each do |user| %>
<ol>
  <li>
  <p><strong>First Name: </strong> <%= user.first_name %></p>
  <p><strong>Last Name: </strong> <%= user.last_name %></p>
  <p><strong>Nickname: </strong> <%= user.handle %> </p>
  <p><strong>Email: </strong> <%= user.email %></p>
  <p>-------------------------------------------------------------</p>
  </li>
</ol>
  <% end %>
