
<% genres = ["Alternative", "Blues", "Country", "R&B", "Jazz", "Metal", "Pop", "Rock"] %>

<div class="card card-compact w-96 bg-base-100 shadow-xl">
  <figure><img class="w-full" src="https://media.ticketmaster.co.uk/tm/en-gb/dam/a/e92/97888509-425e-4bbd-9fe8-a47eedb9ae92_1795231_EVENT_DETAIL_PAGE_16_9.jpg%"></figure>
  <div class="card-body">
    <h2 class="card-title"> Alternative</h2>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>

<h1>Events</h1>

