<div class="img w-full">
  <div>
    <img src="https://i.postimg.cc/DwbtPj6b/Screen-Shot-2022-11-30-at-11-57-19-AM.png" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
    </div>

  </div>
</div>
