.navbar-lewagon {
  justify-content: space-between;
  background: #5cb8fa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navstick {
  position: sticky;
  top: 0;
  width: 100%;
}

.border {
  border-color: #570DF8;
}
