// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


#no-tint::before {
  background-color: rgba(0, 0, 0, 0.35) !important;
}

.yeah {
  min-height: 67vh;
}

.home {
  background-image: url("https://i.ibb.co/GFJfcgp/social-media-banner-6adf5bc26b.jpg");
  height: 30em;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;

}
